<div class='admin-container'>
  <div>
    <h1>Admin Categories</h1>
    <h1><%= link_to "Create a Category",   new_admin_category_path %></h1>
  </div>
  <% @categories.each do |category| %>
  <div>
    <h2><%= category.title %></h2>
    <%= link_to "Delete", admin_category_path(category), method: :delete %>
    <%= link_to "Edit",   edit_admin_category_path(category) %>
  </div>
  <% end %>
</div>